.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
}

.heading {
  color: #ff8542;
}
.card-container {
  background-color: white;
  margin: 40px;
  padding: 20px;
}
